---
import vildMad_1 from "../assets/images/vild-mad-1.png";
import vildMad_2 from "../assets/images/vild-mad-2.png";

const { text, link, paragraph } = Astro.props;
---

<div class="container">
  <div class="card-wrapper">
    <div class="card">
      <figure>
        <img src={vildMad_1.src} alt="" />
        <img src={vildMad_2.src} alt="" />
      </figure>
      <div class="content">
        <h1>{text}</h1>
        <div>
          <ul>
            <li>&#8594 Developer</li>
            <li>&#8594 Digital Designer</li>
            <li>&#8594 UX Designer</li>
          </ul>
        </div>
        <p><strong>Løsning:</strong> <a href={link}>{paragraph}</a></p>
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
    img {
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .container {
      padding-block: 2rem;
    }
    .card-wrapper {
      container-type: inline-size;
      /* padding: 1rem; */
      grid-column: full;
    }

    .content {
      display: grid;
      gap: 1rem;
      align-self: start;

      div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    figure {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 300px;
        border-radius: 10px;
        border: 2px dashed var(--blue);
        top: -2%;
        left: -2%;
        z-index: -10;
      }
    }

    .card:has(img) {
      display: grid;
      gap: 1rem;

      @container (width > 600px) {
        grid-template-columns: 3fr 2fr;

        .card-wrapper {
          display: grid;
        }

        .content {
          /* order: -1; */
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--blue);
      padding-right: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 0.7px;
        background: var(--blue);
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
      }

      &:hover:after {
        width: 80%;
      }
    }

    @media (width > 600px) {
      .container {
        padding-block: 8rem;
      }

      .card:has(img) {
        gap: 3rem;
      }
    }
  }
</style>
